PORT=3000
FRONTEND_URL=http://localhost:3001
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/sm-db
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=noreply@yourapp.com
SMTP_SERVICE=Gmail